---
import Layout from '../layouts/Layout.astro';
import SocialProof from '../components/SocialProof.astro';
import Hero from '../components/Hero.astro';
import StoryTelling from '../components/StoryTelling.astro';
import Deseo from '../components/Deseo.astro';
import Includes from '../components/Includes.astro';
import Form from '../components/Form.astro';
import "../styles/global.css";
import 'aos/dist/aos.css';
---

<Layout>
  <Hero />
  <SocialProof />
  <div class="lazy-load" data-aos="fade-up">
    <StoryTelling />
  </div>
  <div class="lazy-load" data-aos="fade-up">
    <Includes />
  </div>
  <div class="lazy-load" data-aos="fade-up">
    <Deseo />
  </div>
  <div class="lazy-load" data-aos="fade-up">
    <Form />
  </div>
</Layout>

<script>
  // Implementar Intersection Observer para lazy loading
  document.addEventListener('DOMContentLoaded', () => {
    const lazyLoadElements = document.querySelectorAll('.lazy-load');
    
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('loaded');
          observer.unobserve(entry.target);
        }
      });
    });

    lazyLoadElements.forEach(element => {
      observer.observe(element);
    });
  });
</script>

<style>
  .lazy-load {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .lazy-load.loaded {
    opacity: 1;
  }
</style>
