<div class="py-10">
  <h2 class="text-center text-3xl md:text-4xl font-bold tracking-tight text-cyan-900 mb-5">Disfruta los beneficios de viajar con Alkimia Travel</h2>
  <p class="text-center text-cyan-900/70 mb-15">Nosotros nos encargamos de todo, para que realmente tengas vacaciones</p>
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4 p-6 bg-gradient-to-t from-white via-cyan-800/10 to-white rounded-2xl">
    <a href="https://wa.me/5521992413485?text=Hola%20Juan%21%20Quiero%20cotizar%20unas%20vacaciones%21">
      <div class="flex flex-col items-center text-center p-4 bg-transparent rounded-xl hover:bg-cyan-500/10 transition border-b-2 border-cyan-500 hover:border-cyan-500 hover:shadow-lg">
        <img src="/icons/benefit1.svg" alt="Beneficio 1" class="w-12 h-12 mb-2" />
        <h3 class="text-lg font-semibold text-cyan-900">Alojamiento en posadas seleccionadas</h3>
        <p class="text-sm text-cyan-900/70 px-5 font-semibold">Descansá en lugares con alma local. Elegimos personalmente más de 10 posadas únicas, con encanto, atención cálida y ubicaciones privilegiadas.</p>
      </div>
    </a>
  
    <a href="https://wa.me/5521992413485?text=Hola%20Juan%21%20Quiero%20cotizar%20unas%20vacaciones%21">
      <div class="flex flex-col items-center text-center p-4 bg-transparent rounded-xl hover:bg-cyan-500/10 transition border-b-2 border-cyan-500 hover:border-cyan-500 hover:shadow-lg">
      <img src="/icons/benefit2.svg" alt="Beneficio 2" class="w-12 h-12 mb-2" />
      <h3 class="text-lg font-semibold text-cyan-900">Transfer desde el aeropuerto de Río</h3>
        <p class="text-sm text-cyan-900/70 px-5 font-semibold">Olvidate de las preocupaciones al llegar. Te recibimos en el aeropuerto y te llevamos directo a tu posada en Búzios, sin escalas ni complicaciones.</p>
      </div>
    </a>
  
    <a href="https://wa.me/5521992413485?text=Hola%20Juan%21%20Quiero%20cotizar%20unas%20vacaciones%21">
      <div class="flex flex-col items-center text-center p-4 bg-transparent rounded-xl hover:bg-cyan-500/10 transition border-b-2 border-cyan-500 hover:border-cyan-500 hover:shadow-lg">
      <img src="/icons/benefit3.svg" alt="Beneficio 3" class="w-12 h-12 mb-2" />
      <h3 class="text-lg font-semibold text-cyan-900">Excursiones locales auténticas</h3>
        <p class="text-sm text-cyan-900/70 px-5 font-semibold">Sumergite en la verdadera esencia de Búzios. Nada de tours armados: nuestras experiencias están guiadas por locales que te muestran vivencias que no aparecen en los mapas.</p>
      </div>
    </a>
  </section>
</div>

