<article class="relative z-20 bg-gradient-to-br from-cyan-700 via-cyan-700 to-cyan-900 w-full min-h-screen flex flex-col md:flex-row items-center justify-center px-4 sm:px-6 md:px-8 py-8 md:py-12">
  <!-- Textos a la izquierda -->
  <div class="flex-1 flex flex-col justify-center items-start max-w-4xl w-full mx-auto md:pl-8 lg:pl-38 md:pr-8">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-white text-left mb-4 md:mb-5 relative z-10">
      ¿Por qué viajar a Búzios puede ser un <span class="bg-gray-800"> dolor de cabeza</span> si no lo haces correctamente?
    </h1>
    <ul class="text-white text-left space-y-2 mb-4 md:mb-6 list-disc list-inside text-sm sm:text-base md:text-lg lg:text-xl">
      <li>No sabes como llegar desde Rio</li>
      <li>Te cobran pasajes o viajes con sobreprecio</li>
      <li>Terminas eligiendo una posada sin referencia</li>
      <li>Te venden excursiones armadas y caras</li>
    </ul>
    <p class="text-white text-left mb-1 text-sm sm:text-base md:text-lg lg:text-xl">Nosotros ya lo vivimos.</p>
    <p class="text-white text-left mb-1 text-sm sm:text-base md:text-lg lg:text-xl">Por eso creamos <span class="font-bold">Alkimia Travel</span></p>
    <p class="text-white text-left text-sm sm:text-base md:text-lg lg:text-xl">Planificamos de la mejor manera tu viaje y tus vacaciones</p>
  </div>
  <!-- Imagen a la derecha -->
  <div class="flex-1 flex justify-center items-center w-full mt-6 md:mt-5 md:pr-8 lg:pr-25 md:pl-8">
    <img src="https://i.ibb.co/S7rhyZGM/IMG-0061.jpg" alt="Storytelling 1" class="w-[550px] max-w-sm sm:max-w-md md:max-w-xl lg:max-w-2xl h-auto rounded-xl shadow-xl object-cover" />
  </div>
</article>


