---
const embedUrl = "https://www.instagram.com/reel/DLFdlA_iQRY"; 
---

<div class="w-full rounded-xl overflow-hidden shadow-lg bg-white transition-transform hover:scale-[1.01] duration-300 animate-fade-in">
  <blockquote
    class="instagram-media"
    data-instgrm-permalink={embedUrl}
    data-instgrm-version="14"
    style="margin: 0; width: 100%;"
  ></blockquote>
  <script async src="//www.instagram.com/embed.js"></script>
</div>
